@charset "UTF-8";

/* 모달 */
.modal_bg {
    z-index: 30000;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: rgba(0,0,0,.75);
    overflow: auto;
    display: none;
}

.modal_content {
    position: relative;
    width: 340px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 34%), 0 10px 10px 0 rgb(0 0 0 / 6%);
    align-self: flex-start;
}

.headerPw {
	padding: 0 30px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}

.title {
	padding: 11px 0;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    word-wrap: break-word;
}

.mainPw {
	padding: 16px 10px 20px 10px;
    text-align: left;
}

.textPw {
	margin: 0;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.inputSpace {
	margin-top: 9px;
	border: 1px solid #ebebeb;
}
.inputPw {
	position: relative;
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;
    background: 0 0;
    font-size: 13px;
}

p.inputErr {
	display: none;
	color: red;
}

.footerPw {
	margin: 0 20px;
    padding: 20px 0 24px;
    font-size: 0;
    text-align: center;
}
button.editBtModal{
	position: relative;
    min-width: 90px;
    height: 34px;
    padding: 0 15px;
    border-radius: 1px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 5px;
	border: 1px solid #dadada;
}
button.confirmModal{
	position: relative;
    min-width: 90px;
    height: 34px;
    padding: 0 15px;
    border-radius: 1px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 5px;
	background-color: #474e60;
	color: #fff;
	border: 1px solid #dadada;
}

.inputErr {
	margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #ff0f2d;
}
input:focus {
	outline:none;
}
h1, h2, h3 {
	margin: 0;
}

a {
	color: #222;
	text-decoration:none;
	cursor: pointer;
}

ul {
	list-style-type: none;
	-webkit-padding-start:0px;
	margin: 0;
	padding: 0;
}

