@charset "UTF-8";
/* 
    헤더 : rgb(89, 139, 175);
    바탕색 : rgb(252, 245, 235);
*/
* {
	margin: 0 0;	
	padding: 0 0;
    font-family: '나눔바른고딕';
}

body {
    background-color: rgb(252, 245, 235);
    margin-bottom: 100px;
}

/* 로고 이미지 영역 */
div.image_logo {
    text-align: center;
    margin-top: 70px;
}

img.logo {
    display: inline-block;
    width: 200px;
    height: 100px;

    cursor: pointer;
}

/* 폼 영역 */
div.form_area {
    margin-top: 60px;
}

form {
    width: 490px;
    margin: auto;
}

/* 라벨 영역 */
label {
    display: block;
    margin: 8px 0;
    margin-top: 20px;

    font-size: 20px;
    font-weight: bold;
    color: rgb(33, 78, 110);
}

/* input 영역 (아이디, 비밀번호/확인, 이름, 생년월일, 상세주소 입력란, 인증번호 입력란 */
input.input_area1 {
    display: block;

    padding: 0 10px;

    width: 470px;
    height: 40px;

    border-radius: 10px;
    border-color: rgb(33, 78, 110);

    font-size: 15px;
}

/* 주소 영역 (주소, 주소검색) */
div.addr_area {
    width: 495px;
    margin-bottom: 7px;
}

input.input_area2 {
    padding: 0 10px;

    width: 65%;
    height: 40px;

    border-radius: 10px;
    border-color: rgb(33, 78, 110);

    font-size: 15px;
}

button.addr_button {
    width: 29%;
    height: 44px;

    border-radius: 10px;
    border-color: rgb(38, 89, 126);
    background-color: rgb(89, 139, 175);

    font-size: 15px;
    font-weight: bold;
    color: white;
}

/* 이메일, 휴대폰 영역 */
div.emailphone_area {
    width: 495px;
    margin-bottom: 7px;
}

input.input_area3 {
    padding: 0 10px;

    width: 65%;
    height: 40px;

    border-radius: 10px;
    border-color: rgb(33, 78, 110);

    font-size: 15px;
}

button.emailphone_button {
    width: 29%;
    height: 44px;

    border-radius: 10px;
    border-color: rgb(38, 89, 126);
    background-color: rgb(89, 139, 175);

    font-size: 15px;
    font-weight: bold;
    color: white;
}

/* select 영역(성별) */
select {
    padding: 0 7px;

    width: 495px;
    height: 45px;

    border-radius: 10px;
    border-color: rgb(33, 78, 110);

    font-size: 15px;

    cursor: pointer;
}

/* span 영역 */
span {
    display: block;

    margin: 5px 5px;

    font-size: 15px;
    color: red;
}

/* 가입하기 버튼 */
button.join_button {
    margin-top: 50px;

    width: 495px;
    height: 45px;

    border-radius: 5px;
    border-color: rgb(38, 89, 126);
    background-color: rgb(89, 139, 175);

    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* 버튼 */
button {
    cursor: pointer;
}